@media(max-width: 1200px){
    .why-plae{
        padding-bottom: 0;
    }
    .why-plae__picture {
        position: static;
        transform: translate(0);
    }
    .characteristics{
        max-width: 700px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .m-screen{
        height: auto;
    }
    .characteristics__item:before, .characteristics__item:after, .characteristics__item-dot{
        display: none;
    }
    .why-plae__picture{
        width: 700px;
        margin: 0 auto;
    }
}
@media(max-width: 992px){
    .logo img{
        width: 100px;
    }
    .m-screen__content{
        margin-top: 150px;
        padding-bottom: 200px;
    }
    .m-screen__title{
        font-size: 50px;
    }
    .m-screen__text{
        font-size: 18px;
    }
    .reg-form {
        margin-top: 40px;
    }
    .title{
        font-size: 25px;
    }
    .about-plae__text{
        font-size: 15px;
        margin-top: 20px;
    }
    .about-plae__text:nth-child(1){
        margin-top: 35px;
    }
    .what-say__message{
        font-size: 16px;
    }
    .what-say__name{
        font-size: 16px;
        margin-top: 65px;
    }
    .what-say__title {
        margin-bottom: 100px;
    }
    .text{
        font-size: 16px;
        margin-top: 10px;
    }
    .range {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .range__slider{
        max-width: 600px;
        padding: 0 30px;
    }
    .range__slider-arrow{
        width: 30px;
        height: 30px;
        top: 240px;
    }
    .range__slider-arrow--prev{
        left: -30px;
    }
    .range__slider-arrow--next{
        right: -30px;
    }
    .range__slide-name{
        font-size: 20px;
    }
    .range__slider-counter{
        font-size: 16px;
        margin-top: 20px;
    }

    .characteristics{
        max-width: 600px;
    }
    .why-plae__picture{
        width: 600px;
    }

    .find-us {
        padding-top: 70px;
    }
    .back-call{
        padding-top: 70px;
    }
    .contacts{
        padding-bottom: 50px;
    }
    .registration {
        padding: 100px 0 90px 0;
    }
    .registration__subtitle{
        font-size: 19px;
        margin-top: 10px;
    }
    .dots-navigation{
        right: 30px;
    }

    .what-say__message::before,
    .what-say__message::after{
        width: 21px;
        height: 12px;
    }

    .block{
        flex-direction: column;
    }
    .block__unit{
        width: 100%;
    }
    .block__unit--text{
        order: 1;
    }
    .block__unit--picture{
        order: 2;
        width: 400px;
        margin: 0 auto;
    }
    .block__unit--text{
        padding-top: 60px;
        padding-bottom: 40px;
    }
}
@media(max-width: 768px){
    /* .locations{
        max-width: 500px;
    } */
    .dots-navigation__item{
        width: 6px;
        height: 6px;
    }
    .dots-navigation__item--active{
        width: 10px;
        height: 10px;
    }
    .dots-navigation a {
        margin-top: 10px;
    }
    .dots-navigation a:nth-child(1){
        margin-top: 0;
    }
}
@media(max-width: 650px){
    .m-screen__title {
        font-size: 40px;
    }
    .m-screen__text {
        font-size: 16px;
        margin-top: 20px;
    }
    .reg-form__search{
        height: 35px;
    }
    .reg-form__text{
        width: 250px;
        font-size: 16px;
    }
    .reg-form__btn{
        width: 100px;
        font-size: 16px;
    }
    .range__slider{
        max-width: 400px;
    }
    .range__slide-picture img{
        width: 100%;
    }
    /* .dots-navigation{
        top: 35px;
    } */
    .characteristics__item{
        width: 200px;
    }
    .characteristics{
        max-width: 500px;
    }
    .why-plae__picture{
        width: 500px;
    }
    .characteristics{
        align-items: normal;
    }
    .reg-form__message{
        max-width: 350px;
    }
    .range__slider-arrow{
        top: 200px;
    }
}
@media(max-width: 600px){
    .characteristics{
        justify-content: space-between;
    }
}
@media(max-width: 550px){
    .characteristics__block{
        width: 50%;
        margin-right: 20px;
    }
    .characteristics__block:nth-last-child(1){
        margin-right: 0;
    }
    .characteristics__item{
        width: 100%;
        box-sizing: border-box;
    }
    .why-plae__picture{
        width: 100%;
    }
    .why-plae__picture{
        width: 100%;
    }
    .locations{
        max-width: 400px;
    }
}
@media(max-width: 500px){
    .container{
        padding: 0 10px;
    }
    .about-plae__container, .what-say__container{
        padding: 0;
    }
    .logo {
        padding: 15px 0 0 5px;
    }
    .m-screen__content {
        margin-top: 100px;
        padding-bottom: 150px;
    }
    .m-screen__title {
        font-size: 30px;
    }
    .m-screen__text {
        font-size: 15px;
        margin-top: 10px;
        line-height: 22px;
    }
    .reg-form {
        margin-top: 35px;
    }
    .reg-form__text {
        width: 200px;
        font-size: 14px;
        padding: 0 15px;
    }
    .reg-form__btn {
        width: 80px;
        font-size: 14px;
    }
    .contacts{
        margin-top: 40px;
        justify-content: space-around;
    }
    .contacts__item{
        font-size: 16px;
    }
    .title {
        font-size: 22px;
    }
    .text {
        font-size: 15px;
        margin-top: 5px;
        line-height: 25px;
    }
    .back-call__text{
        font-size: 16px;
        margin-top: 5px;
    }
    .registration__subtitle {
        font-size: 17px;
        margin-top: 5px;
    }
    .copyright {
        padding: 10px 0;
    }
    .copyright__text{
        font-size: 12px;
    }
    .what-say__title {
        margin-bottom: 60px;
    }
    .what-say__name{
        margin-top: 45px;
    }
    .reg-form__message{
        max-width: 280px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .reg-form__message-text{
        font-size: 16px;
    }
    .dots-navigation{
        right: 10px;
    }
}
@media(max-width: 450px){
    .locations__item-name{
        font-size: 15px;
    }
    .locations__item-address p{
        font-size: 14px;
    }
    .locations__item-site{
        font-size: 14px;
    }
    .characteristics__item {
        padding: 5px;
    }
    .range__slider-arrow {
        top: 170px;
    }
    .characteristics__block:nth-child(2){
        margin-top: 0;
    }
    .characteristics__item{
        min-height: 100px;
    }
}
@media(max-width: 400px){
    .what-say__message::before{
        left: 0;
    }
    .what-say__message::after{
        right: 0;
    }

    .block__unit--picture{
        width: 100%;
    }
    .range__slider-arrow {
        top: 150px;
    }
}
@media(max-width: 350px){
    .locations__item{
        padding: 0 10px;
    }
    .range__slider-arrow {
        top: 120px;
    }
    body{
        min-width: 320px;
    }
}